body {
    background: linear-gradient(120deg, rgb(184, 74, 74), rgb(255, 207, 207));
    color: #0a0408;
}

.container {
    display: flex;
    min-width: 1200px;
    max-width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 1300px;
}

#appTitle {
    color: rgb(36, 30, 30);
    text-align: center;
    margin: 50px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 120px;
    letter-spacing: .12em;
    text-shadow: 1px 1px 8px rgb(255, 226, 226);
}

#genreForm, #playBtn {
    color: rgb(36, 30, 30);
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
}

#genreForm label {
    letter-spacing: .12em;
}

#movieInfo {
    width:  65%;
    margin:  50px auto;
    border: 1px solid rgb(86, 86, 86, 0.5);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(86, 86, 86, 0.5);
    background-color: rgb(238, 238, 238);
}

#movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
}

#moviePoster, #movieText {
    width:  50%;
    float:  left;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

img#moviePoster {
    width:  100%;
    height:  auto;
    display:  block;
    margin:  auto;
}

#movieText {
    font-family: 'Tahoma';
    color: #3c3c3c;
    line-height: 1.25;
}

#movieTitle, #movieOverview {
    padding:  32px;
}

#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 20px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #ffbc37ee;
    color: #404040;
    cursor:  pointer;
    border: 1px solid black;
}

#playBtn:hover {
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 15px;
}

select {
    width: 200px;
    height: 40px;
    font-family: 'Staatliches', Tahoma;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}
