body {
  background-color: #b2deea;
  color: #0a0408;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

#appTitle {
  color: #01566b;
  text-align: center;
  margin: 50px auto;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 5em;
  letter-spacing: 0.02em;
}

#genreForm,
#playBtn {
  color: #01566b;
  text-align: center;
  display: block;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

#movieInfo {
  width: 65%;
  margin: 50px auto;
  border: 1px solid rgb(86, 86, 86, 0.5);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(86, 86, 86, 0.5);
  background-color: rgb(238, 238, 238);
}

#movieInfo:after {
  content: "";
  display: table;
  clear: both;
}

#moviePoster,
#movieText {
  width: 50%;
  float: left;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

img#moviePoster {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#movieText {
  font-family: "Tahoma";
  color: #3c3c3c;
  line-height: 1.25;
}

#movieTitle,
#movieOverview {
  padding: 32px;
}

#playBtn {
  margin-top: 20px;
  font-size: 25px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #ffbc37ee;
  color: #404040;
  cursor: pointer;
  border: 1px solid black;
  transition: .2s linear;
}

#playBtn:hover {
  background-color: #c8c7c789;
  color: #3c3c3c;
  border: 1px solid #3c3c3c;
  box-shadow: 0px 0px 15px #6e6e6e48;
}

label {
  display: block;
  font-size: 35px;
  margin-bottom: 15px;
}

select {
  width: 200px;
  height: 40px;
  font-family: "Staatliches", Tahoma;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
}

#likeOrDislikeBtns {
  visibility: hidden;
  display: none;
  padding: 50px;
  justify-content: center;
}

.utfBTN {
  font-size: 1em;
  background-color: rgba(98, 43, 109, 0.884);
  padding: 10px;
  margin: 4px;
  border: 0px;
  border-radius: 5px;
}

.utfBTN:hover {
  cursor: pointer;
}
